* {
  background-color: beige;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.5rem;
  color: brown;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

ul li {
  cursor: pointer;
  font-size: 1.2rem;
}

footer {
  position: fixed;
  top: 90%;
  right: 0;
  left: 0;
  width: 50%;
  margin: 0 auto;
}
